<a href="https://colab.research.google.com/github/sahi0907/Python_examples_solutions-with-mini-projects-/blob/main/Functions_arguments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#functions practice
def say_hello():
  print("welcome to the home")
say_hello()

welcome to the home

In [2]:
def greetings():
  print("thank you for coming")
greetings()

thank you for coming

In [3]:
def sahil():
  print("I am studied at asm collage")
sahil()

I am studied at asm collage

In [7]:
def cheak_even_odd(num):
  if num % 2 == 0 :
    print("even")
  else:
    print("odd")

cheak_even_odd(16)

even

In [63]:
def cheak_even_odd(num1):
    if num1 / 5 == 0 and num1 / 10 == 0 :
        print("divisible by 5 and 10")
    else:
        print("Not divisible by 5 and 10")
cheak_even_odd(50)

Not divisible by 5 and 10

In [15]:
#add two numbers
def add(a , b):
  print(a+b)
add(5,3)

8

In [16]:
#define square
def square(num):
  return num*num
result = square(6)
print(result)

36

In [17]:
def cube(num):
  return num*num*num
result = cube(66)
print(result)

287496

In [21]:
#functions with if esle logic
def cheak_marks(marks):
   if marks >= 40:
     return "pass"
   else:
    return "fail"

print(cheak_marks(33))

fail

In [22]:
# print your name
def myname():
  print("my name is sahil")
myname()

my name is sahil

In [27]:
# functions to cheak number is positive
def cheak_number(num5):
  if num5 >= 0 :
    print("positive")
  else:
    print("negative")
cheak_number(5)

positive

In [30]:
#find largest number
def find_largest_number(a,b):
  if a > b :
    return a
  else :
    return b
find_largest_number(10,20)

20

In [31]:
#cheak even or add using return
def cheak_even_odd(num):
  if num % 2 == 0 :
    return "even"
  else:
    return "odd"
cheak_even_odd(74)

'even'

In [32]:
#calculate  simple interest
def calculate_simple_interest(p,r,t):
  return(p*r*t) /100
calculate_simple_interest(5000,5,3)

750.0

In [33]:
#cheaking voting eligibility
def cheak_voting(age):
  if age >=18 :
    return "eligible for voting"
  else:
    return "not eligible for voting"
cheak_voting(17)

'not eligible for voting'

In [36]:
#cheaking leap year
def cheak_leap_year( year):
  if year % 4 == 0 and year % 100 != 0 :
    return "leap year"
  else:
    return "not leap year"
cheak_leap_year(2024)

'leap year'

In [38]:
#make a simple calculator
def calculator(a,b,operator):
  if operator == '+':
    return a+b
  elif operator == '-':
    return a-b
  elif operator == '*':
    return a*b
  elif operator == '/':
    return a/b
  else:
    return "invalid operator"
calculator(588,617,'*')

362796

In [41]:
#function with input
def cheak_even_or_odd():
  num = int(input("enter the num:"))
  if num % 2 ==0 :
    return "even num"
  else:
    return "odd"

cheak_even_or_odd()

enter the num:333

'odd'

In [43]:
#login password
def user_login():
  username = input("enter the username:")
  password = input("enter the password:")
  if username == "sahil" and password == "456123":
    return "login successfull"
  else:
    return "login failed try again!!!"
user_login()

enter the username:sahil
enter the password:654123

'login failed try again!!!'

In [46]:
#default arguments
def greet(name = "user"):
  print(f"hello",name)
greet()
greet("sahil!!!!!")

hello user
hello sahil!!!!!

In [49]:
#function to calculate salary with bonus
def calculate_salary(basic):
  if basic >= 50000 :
    bonus = 0.10 * basic
  else:
    bonus = 0.05 * basic
  return basic + bonus
calculate_salary(49000)

51450.0

In [58]:
#shop billing system
def calculate_total(name,price, quantity):
  return price*quantity
calculate_total(sahil,1000,81)

81000

In [55]:
def apply_discount(total):
  if total >= 5000:
    return total * 0.90
  elif total >=2000 :
    return total *0.95
  else:
    return total
apply_discount(2050)

1947.5

In [62]:
#print final bill
def print_bill (name , price , quantity):
  total = calculate_total(name, price, quantity) # Pass name to calculate_total if needed, or adjust calculate_total function
  final_amount = apply_discount(total)
  print("item:",name)
  print("price:",price)
  print("quantity:",quantity)
  print("total:",total)
  print("payable amount:",final_amount)

# Example usage:
print_bill("Laptop", 5000, 4)

item: Laptop
price: 5000
quantity: 4
total: 20000
payable amount: 18000.0