<a href="https://colab.research.google.com/github/sahi0907/Python_examples_solutions-with-mini-projects-/blob/main/loops_examples_peactice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#loop practice
#loop basic
for i in range (1,6):
  print(i)

1
2
3
4
5

In [2]:
for i in range(51,67):
  print(i)

51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66

In [5]:
#while loop basic
i = 1
while i <= 5:
  print(i)
  i += 1

1
2
3
4
5

In [22]:
j= 1
while j <= 51:
  print(j)
  j += 2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51

In [10]:
#loop with condition
for i in range (1,20):
  if i %2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18

In [12]:
#print even no with loop condition
for i in range (1,20):
 if i % 3 == 0:
  print(i)

3
6
9
12
15
18

In [14]:
#loop with string
text = "python"
for ch in text:
  print(ch)

p
y
t
h
o
n

In [19]:
#break statement in loop
for i in range (1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In [20]:
#continue statement
for i in range (1,6):
  if i == 3 :
    continue
  print(i)

1
2
4
5

In [21]:
#else with loop
for i in range (1,10):
  print(i)
else :
  print("loop finished")

1
2
3
4
5
6
7
8
9
loop finished

In [23]:
#nested loop
#number pattern
for i in range (3):
  for i in range (3):
    print("*", end =" ")
  print()

* * *
* * *
* * *

In [24]:
for i in range (11):
  for j in range(11):
    print("^", end= " ")
  print()

^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^ ^

In [25]:
#print no 1 to 10
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [26]:
#print no 10 to 1
i = 10
while i >= 1:
  print(i)
  i -= 1

10
9
8
7
6
5
4
3
2
1

In [27]:
#print even no from 1 to 20 while loop
i = 2
while i <= 21 :
  print(i)
  i += 2

2
4
6
8
10
12
14
16
18
20

In [29]:
#2nd option for loop
for i in range (1,21):
  if i % 2 == 0 :
    print(i)

2
4
6
8
10
12
14
16
18
20

In [30]:
#print odd no 1 to 20
i = 1
while i <=20:
  print(i)
  i += 2

1
3
5
7
9
11
13
15
17
19

In [33]:
#with for loop
for i in range (1,20):
  if i % 2 !=0:
    print(i)

1
3
5
7
9
11
13
15
17
19

In [34]:
#print each character of I am data analyst
text = "I am data analyst"
for ch in text:
  print(ch)

I

a
m

d
a
t
a

a
n
a
l
y
s
t

In [38]:
# find the sum of no from 1 to n
n = 115
total = 0
for i in range(1,1+n):
  total += i
print("sum:",total)

sum: 6670

In [2]:
#reverse the number
num =1234
reverse=0
while num > 0 :
  reverse = reverse * 10 + num % 10
  num //= 10
  print("reversed number:", reverse)

reversed number: 4
reversed number: 43
reversed number: 432
reversed number: 4321

In [5]:
#print multiplication no of table
n = 5
for i in range (1,11):
  print(n , "x", i , "=", n*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [7]:
#print aad no table
n = 1
for i in range (1,20):
  print(n , "+", i , "=", n+i)

1 + 1 = 2
1 + 2 = 3
1 + 3 = 4
1 + 4 = 5
1 + 5 = 6
1 + 6 = 7
1 + 7 = 8
1 + 8 = 9
1 + 9 = 10
1 + 10 = 11
1 + 11 = 12
1 + 12 = 13
1 + 13 = 14
1 + 14 = 15
1 + 15 = 16
1 + 16 = 17
1 + 17 = 18
1 + 18 = 19
1 + 19 = 20

In [12]:
#cheak weather is prime no
num = int(input("enter the number:"))
for i in range (2, num ):
  if num % 1== 0 :
    print("yes!! its prime no ")
    break
  else:
    print("No!! its not prime no")

enter the number:89
yes!! its prime no

In [14]:
#print sqaure * pattern
for i in range(3):
  for j in range(3):
    print("*", end = " ")
  print()

* * *
* * *
* * *

In [18]:
#print right triangle star pattern
for i in range(1,11):
  for j in range(i):
    print("*", end = " ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [21]:
for i in range (5):
  for j in range(i):
    print("*", end = " ")
  print()

*
* *
* * *
* * * *